* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, p {
  color: white;
}

.video-juegos-p {
  color: black;
}

html {
  height: 100%;
  position: relative;
}

body {
  background: linear-gradient(-45deg, #2334d1, #364eb4, #12279c, #2232c2);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
  margin-bottom: 60px;
}
body h1 {
  color: white;
  font-size: 50px;
  text-decoration: underline;
}
body p {
  color: white;
  font-size: 40px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.customNavbar-color {
  background-image: linear-gradient(to bottom right, rgb(33, 29, 70), rgba(52, 72, 109, 0.829));
}

.botonE, .botonE--orange, .botonE--blue {
  color: white;
  border: solid 1px white;
  border-radius: 10px;
  text-align: center;
  height: 60px;
  background-color: transparent;
  padding: 1rem;
}

.botonE--blue {
  background-color: darkblue;
  border-radius: 30px;
}

.botonE--orange {
  background-color: orangered;
  height: 100px;
}

.img-carrusel {
  height: 350px;
  object-fit: cover;
}

.imagenes-series-peliculas {
  width: 100%;
  height: auto;
  padding: 1rem;
}

.games {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
}

.series {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 100%;
}

.peliculas {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 100%;
}
.peliculas p {
  padding: 2%;
}
.peliculas span {
  color: white;
  font-size: 30px;
  text-decoration: underline;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgb(33, 29, 70), rgba(52, 72, 109, 0.829));
}

.carousel {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.slides {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slides-webkit-scrollbar {
  display: none;
}

.slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-size: 100px;
  height: 600px;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
  width: 100%;
}

#pelis .slides-item {
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-shrink: 0;
  font-size: 100px;
  height: 100%;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: start;
  transform: scale(1);
  transform-origin: center center;
  transition: transform 0.5s;
  width: 100%;
}

.carousel__nav {
  padding: 1.25rem 0.5rem;
}

.slider-nav {
  align-items: center;
  background-color: rgb(33, 29, 70);
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  height: 1.5rem;
  justify-content: center;
  padding: 0.5rem;
  position: relative;
  text-decoration: none;
  width: 1.5rem;
}
.slider-navhover, .slider-navactive {
  background-color: #000;
  color: #fff;
}

.slide--parrafo {
  font-size: 3rem;
  font-weight: 600;
  background-color: rgb(123, 130, 170);
}

.slide-1 {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-2 {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel__skip-link {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
.carousel__skip-linkfocus {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 30px;
  height: 100%;
  justify-content: center;
  opacity: 0.8;
  text-decoration: none;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .games {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }

  .series {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
  }

  .peliculas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
  }

  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(33, 29, 70), rgba(52, 72, 109, 0.829));
  }
}
@media (min-width: 992px) {
  .games {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
  }

  .series {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 100%;
  }

  .peliculas {
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
  }

  .peliculas p {
    padding-right: 2.5rem;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(to bottom right, rgb(33, 29, 70), rgba(52, 72, 109, 0.829));
  }
}

/*# sourceMappingURL=style.css.map */
