.carousel {
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
  }
  
  .slides {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
        &-webkit-scrollbar {
            display: none;
          }
  }
  
  .slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    height: 600px;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
  }
  
  #pelis .slides-item {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-shrink: 0;
    font-size: 100px;
    height: 100%;
    justify-content: center;
    margin: 0 1rem;
    position: relative;
    scroll-snap-align: start;
    transform: scale(1);
    transform-origin: center center;
    transition: transform .5s;
    width: 100%;
  }
  
  .carousel__nav {
    padding: 1.25rem .5rem;
  }
  
  .slider-nav {
    align-items: center;
    background-color: rgb(33, 29, 70);
    border-radius: 50%;
    color: #fff;
    display: inline-flex;
    height: 1.5rem;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    width: 1.5rem;
        &hover,&active {
            background-color: #000;
            color: #fff;
        }
  }
  
  .slide--parrafo {
    font-size: 3rem;
    font-weight: 600;
    background-color: rgb(123, 130, 170);
  
  }
  
  .slide-1 {
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }
  
  .slide-2 {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  .carousel__skip-link {
  height: 1px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
    &focus {
        align-items: center;
        background-color: #000;
        color: #fff;
        display: flex;
        font-size: 30px;
        height: 100%;
        justify-content: center;
        opacity: .8;
        text-decoration: none;
        width: 100%;
        z-index: 1;
        }
  }
  