@import "reset";

$nav-footer: linear-gradient(to bottom right, rgb(33, 29, 70), rgba(52, 72, 109, 0.829));

$body-back: linear-gradient(-45deg, #2334d1, #364eb4, #12279c, #2232c2);

$back-map: (
    tamaño: 400% 400%,
    anima: gradient 15s ease infinite,
    altura: 100%,
    Mbottom: 60px
);

@mixin pictures {
    
    width: 100%;
    height: auto;
    padding: 1rem;
    
}

@mixin grid ($colum, $row) {
    display: grid;
    grid-template-columns: $colum $colum;
    grid-template-rows: $row;
}

html {
    height: 100%;
    position: relative;
}

body {
    background: $body-back;
    background-size: map-get($back-map , tamaño);
    animation: map-get($back-map , anima);
    height: map-get($back-map , altura);
    margin-bottom: map-get($back-map , Mbottom);
    

    h1 {
        color: white;
        font-size: 50px;
        text-decoration: underline;
    }

    p {
        color: white;
        font-size: 40px;
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

nav {
    background-image: $nav-footer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 1 auto;
    
    ul {
        list-style: none;
        display: flex;
    }
    li {
        margin: 1rem;
    }
    a {
        text-decoration: none;
        color: bisque;

        &:hover {
            color:aqua;
        }
    }
    
        
}

main {
    flex: 1 1 auto;
    text-align: center;
}

.botonE {
    color: white;
    border: solid 1px white;
    border-radius: 10px;
    text-align: center;
    height: 60px;
    background-color: transparent;
    padding: 1rem;
}

.botonE--blue {
    @extend .botonE;
    background-color: darkblue;
    border-radius: 30px;
}

.botonE--orange {
    @extend .botonE;
    background-color: orangered;
    height: 100px;
}

.galeria {
    justify-content: center;
    @include grid (500px , 500px);
}

.galeria2 {
    justify-content: center;
    @include grid (400px , 400px);
}

.imagenes { 
    @include pictures;
}

footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    flex: 0 1 40px;
    background-image: $nav-footer;
        p { 
            padding: 1rem;
        }
}